python-dotenv
azure-ai-textanalytics
azure-ai-translation-text
azure-identity
azure-keyvault-secrets
azure-ai-vision-imageanalysis
azure-cognitiveservices-vision-customvision
azure-cognitiveservices-vision-face
azure-ai-language-questionanswering
azure-ai-language-conversations
openai
Pillow
matplotlib

